* {
  font-family: "Roboto", sans-serif;
}

html {
  margin: 0;
}
html body {
  margin: 0;
}

header .h-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
header .h-container .logo {
  background: url("../logos/icon-left-font-monochrome-black.png") no-repeat;
  width: 250px;
  height: 80px;
  background-size: 200px;
  background-position: center;
}
header .h-container nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
header .h-container nav ul li {
  padding: 15px;
  padding-bottom: 1px;
  line-height: 45px;
  border-top: transparent solid 3px;
}
header .h-container nav ul li i {
  font-size: 20px;
}
header .h-container nav ul li i:hover {
  color: blue;
  cursor: pointer;
}
header .h-container nav ul li a {
  font-size: 14px;
  color: #444444;
  text-decoration: none;
}
header .h-container nav a:hover {
  color: #0065FC;
}
header .h-container nav .menu-link:hover {
  border-bottom: #0065FC solid 3px;
}

#index {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 40px;
}

#users {
  width: 200px;
}
#users .perso {
  padding: 3px;
}
#users .perso img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 20em;
}
#users .perso p {
  font-size: 1em;
  padding-left: 2em;
}
#users .control ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
#users .control ul li {
  padding: 15px;
  padding-bottom: 1px;
  line-height: 45px;
  border-top: transparent solid 3px;
}
#users .control ul li i {
  font-size: 20px;
}
#users .control ul li i:hover {
  color: blue;
  cursor: pointer;
}
#users .new-post button {
  background-color: #0065FC;
  color: white;
}

#posts {
  background: eeeeee;
  width: 500px;
}
#posts .posts__container {
  padding: 2em;
}
#posts .posts__container .post {
  padding: 2em;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1em;
}
#posts .posts__container .post .post__top {
  display: flex;
  column-gap: 0.5em;
}
#posts .posts__container .post .post__top .avatar img {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  object-fit: cover;
  object-position: center;
}
#posts .posts__container .post .post__top .about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#posts .posts__container .post .post__top .about .name {
  margin: 0;
}
#posts .posts__container .post .post__top .button--options i {
  color: blue;
}
#posts .posts__container .post .post__content .media img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 20em;
}
#posts .posts__container .post .post__bottom {
  padding: 1em 0 0;
}
#posts .posts__container .post .post__bottom .buttons {
  display: flex;
  column-gap: 1em;
}
#posts .posts__container .post .post__bottom .buttons .button {
  cursor: pointer;
}
#posts .posts__container .post .post__bottom .thumbs {
  display: flex;
  column-gap: 1em;
}

/*# sourceMappingURL=home.css.map */
